body, * {
  margin: 0;
  padding: 0;
}
.slider {
}
section {
  height: 100vh;
  position: relative;
}
.container {
  margin: 0 auto;
  padding: 0 120px;
}
.row {
  display: flex;
}
.col {
  flex: 1;
  margin-top: 60px;

}
.quote {
  position: relative;
  top: 15%;
  left: 30%;
  z-index: 1;
}
.quote-img {
  margin-left: 80px;
}
.quote-content {
  position: absolute;
  top: 80px;
}
.quote-content blockquote {
  font-size: 32px;
  line-height: 1.6;
  font-weight: lighter;
  word-spacing: 2px;
  letter-spacing: 1.4px;

  color: #5a5a5a;
}
.quote-content .quote-sign {
  margin-top: 12px;
}
.quote-content .quote-sign span {
  color: #b5b1b1;
  padding-left: 4px;
}
.col .img-member {
  position: relative;
}
.img-member__person {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.curve-img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.wrap-img {
  position: relative;
}
/* .wrap-img img {
  box-shadow: 0 10px 5px 0px #000;
} */
.navigate-img {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: #f9f9f9
}

.wrap-img .navigate-img {
  position: absolute;
  bottom: 0;
  left: 10%;
  transform: translateY(40%);
  z-index: 1;

  box-shadow: 0 10px 10px 0px hsl(240, 18%, 77%);
}
.btn {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  
  display: flex;
  justify-content: space-around;
  align-content: center;
}